body {
    background-color: $dark;
    color: $light;
    font-family: $font;
    font-size: 62.5%;
}

a,a:visited {
	text-decoration: none;
	position: relative;
	color: $light;

	&:after {
		content: '';
		height: 3px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		background-color: $light;
		transition: .2s;
	}

	&:hover:after {
		width: 100%;
	}

	&.block {
		display: block;
		padding: .5em;

		&:hover {
			background-color: $light;
		}
	}
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.h1 {
    font-size: 2.4rem;
    font-weight: bold;
}
.welcome-content {
    font-size: .8rem;
}