body {
    background-color: $dark;
    color: $light;
    font-size: 62.5%;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.h1 {
    font-size: 24rem;
    font-weight: bold;
}
.welcome-content {
    font-size: 8rem;
}